@import "tailwindcss";

main {
  @apply p-4;
}

.multiple-choice-exercise {
  @apply p-4 mb-2 rounded-lg shadow-md bg-gray-100 dark:bg-gray-800 border-0;
}

.exercise-question:before {
  content: "Multiple Choice Question";
  @apply block mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300;
}

.exercise-question {
  @apply border-b-2 border-gray-300 dark:border-gray-600 pb-2 mb-4;
}

.exercise-answers {
  @apply block mb-4;
}
